      @media screen {

            .unprintable {
                  display: block;
            }
            .printable {
                  display: none;
            }
            .onlyprintable {
                  visibility:hidden;
            }
			input{
				font-family:tahoma;
			}

      }

      @media print {

            .unprintable {
                  display: none;
            }
            .printable {
                  display: block;
            }
            .lonlyprintable {
		  display: block;

            }

      }
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
	border-spacing: 0;
    border-collapse: separate;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fff;
}
@font-face{
	font-family:'iransans';
	font-weight:normal;
	font-style:normal;
	src:local('iransans'),url('./fonts/IRANSansWeb.woff') format('woff'), url('./fonts/IRANSansWeb.ttf') format('truetype');
}
