	#supportDiv	{
		position: fixed;
		bottom: 0px;
		right:1%;
		width:230px;
		border:2px solid green;
		padding:0px;
		background:#efefef;
		z-index:100;
		direction:rtl;

	}
	#supportDiv p{
		margin:0px;
		background-color:green;
		text-align:center;
		color:#CED8F6;
		padding:2px;
		font-size:15px;
		font-style:oblique;
		cursor:pointer;
	}
	#supportDetail{
		display:none;
		direction:rtl;
		font-size:12px;
		text-align:center;
	}
	.numberCircle {
		border-radius: 50%;
		behavior: url(PIE.htc); /* remove if you don't care about IE8 */

		width: 20px;
		height: 20px;
		padding: 4px;

		background: #B3FF9C ;
		border: 2px solid #666;
		color: #666;
		text-align: center;

		font: 18px Arial, sans-serif;
		margin-right:3px;
		float:right;
	}	
